<div class="panel panel-default">
    <div class="panel-body">
        <h3>
            {{ user.name }}
            <small>{{ user.email }}</small>
        </h3>
        <hr>
        <div class="row">
            <section class="phone-numbers col-sm-6">
                <ul class="fa-ul">
                    <li>Phones</li>
                    <li v-for="n in user.phone_numbers">
                        <i class="fa-li phone-number" :class="{'verified':n.is_verified}"></i>
                        {{ n.number }}
                    </li>
                </ul>
            </section>

            <hr class="visible-xs">

            <section class="friends col-sm-6">
                <ul class="fa-ul">
                    <li>Friends</li>
                    <li v-for="n in user.friends">
                        <i class="fa-li phone-number" :class="{'verified':n.is_verified}"></i>
                        {{ n.number }}
                    </li>
                </ul>
            </section>
        </div>
        <div class="row">
                <section class="col-sm-12">
                    <table class="table" v-selectable-table>
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>Duration</th>
                                <th>Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr
                                    v-for="r in user.recordings | orderBy 'created_at' -1"
                                    @click="$parent.recording = r"
                                    :class="{'selected':$parent.recording == r}">
                                <td>{{r.from}}</td>
                                <td>{{r.duration}}s</td>
                                <td>{{r.created_at.format('YYYY-MM-DD')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <hr>

                <section class="col-sm-12">
                    <recording :recording.sync="recording"></recording>
                </section>
            </div>
        </div>
    </div>
</div>
