@import "node_modules/font-awesome/scss/variables";
@import "node_modules/font-awesome/scss/mixins";

$unverified-color: red !default;
$verified-color: green !default;

// Phone number / friend number icon
// defaults to red open square, add .verified to turn to green check square
i.phone-number {
  @include fa-icon();

  color: $unverified-color;

  &:before {
    content: $fa-var-square-o;
  }

  &.verified {
    color: $verified-color;

    &:before {
      content: $fa-var-check-square-o;
    }
  }

  &.blacklisted {
    color: $unverified-color;

    &:before {
      content: $fa-var-exclamation-circle;
    }
  }
}