$navbar-inverse-bg: #1a1a1a;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-bg: #333;
$navbar-default-color: red;
$navbar-height: 80px;
$link-color: #ef0e5e;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "components/icons";

// Override
.navbar-default {
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff; // @todo can we do this with a variable?
    border-radius: 0;
    color: #fff;
}

// Sticky footer
html {
    min-height: 100%;
    position: relative;
}
body {
    background: #eee;
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
.footer {
    bottom: 0;
    font-family: Georgia, serif;
    height: 80px;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}
// End sticky footer

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', arial, sans-serif;
}

h2 {
    text-transform: uppercase;
}

.well {
    background: #fff;

    > h2:first-child {
        margin-top: 0;
    }
}

.sales-well {
    font-family: georgia, serif;
    font-size: 1.25em;
}


.navbar {
    border-radius: 0;
}
.navbar-brand {
    padding: 0;
}

.navbar-nav {
    color: #fff;
    font-family: 'Roboto Condensed', arial;
    font-size: 1.25em;
    text-transform: uppercase;
}

.logo {
    margin-left: -15px;
    width: 250px;

    @media only screen and (min-width: 500px) {
        margin-left: 0;
        width: 273px;
    }
}

.auth-menu {

    @media only screen and (max-width: 677px) {
        margin: 1em 0;
        text-align: center;
        width: 100%;
    }

    @media only screen and (min-width: 768px) {
        float: right;
    }
}

.intro {
    font-size: 1.5rem;
    margin-bottom: 1em;
    max-width: 40em;
}

.number {
    margin-bottom: 1em;

    &--verified {
        color: green;
    }

    &--unverified {
        color: red;
    }

    &__label {
        color: #777;
        font-size: 0.5em;
        text-transform: uppercase;
    }
}

.dashboard-divider {
    background: #eee;
    border-color: #eee;
    color: #eee;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.dashboard-section-icon {
    text-align: center;

    @media only screen and (max-width: 767px) {
        background: #888;
        border: 1px solid #ccc;
        color: #fff;
        padding: 1rem;
    }

    @media only screen and (min-width: 768px) {
        padding-top: 2rem;
        text-align: right;
    }
}

.big-green-button {
    background: #43c25b;
    color: #fff;
    display: inline-block;
    font-size: 1.1em;
    margin: 2em auto;
    padding: 1em 2em;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background: #149a2d;
        color: #fff;
        text-decoration: none;
    }
}

.big-donate-button {
    display: block;
    text-align: center;

    @media only screen and (min-width: 500px) {
        width: 50%;
    }
}

article.user {
    padding: $panel-body-padding;
    background-color: white;
}

$border-right: 1px 0 1px 1px;
$border-left: 1px 1px 1px 0;
$border-style: solid;
$border-color: $table-border-color;

#admin-dashboard .users {
    .usages {

        max-height: 25em;
        overflow: scroll;
        padding-bottom: 1em;

        table{

            caption {
                padding-right: 1em;
            }
            @media screen and (max-width:$screen-xs-max){
                tr:nth-child(odd){
                    td {
                        background-color: $gray-lighter;
                    }
                }
            }

            tbody tr:hover {
                cursor: pointer;
            }

            tr.selected {
                border-left: 1em solid blue;
            }
            th, td {

                //&.left, &.right {
                //    border: 1px solid $table-border-color;
                //}

                &.left {
                    border-left: 1px solid $table-border-color;
                    text-align: left;
                }

                &.right {
                    border-right: 1px solid $table-border-color;;
                    text-align: right;
                }

                &.calls {
                    background-color: $table-bg-accent;
                    width: 100px;
                }

                &.minutes {
                    width: 100px;
                }
            }

            tbody {
                max-height: 400px;
            }
        }
    }
}